body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px 200px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}

.card{
  /*box-model*/
  height: 200px;
  width: 400px;
}

.flip-card-container {
  /*box-model*/
  height:100%;
  width: 100%;
  box-sizing: border-box;
  /*style*/
  border: black solid 2px;
}

.front, .back{
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-model*/
  height:100%;
  width:100%;
}
.front{
  /*style*/
  font-size: 40px;
  background-color: #666666;
  color: #dddddd;
}

.back{
  /*style*/
  background-color: #f27777;
  font-size: 40px;
  color: #f70707;
}

/*for flip card*/
.card{
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card-container{
  /*position*/
  position: relative;
  /*flip card*/
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/*.card:hover .flip-card-container{
  transform: rotateY(180deg);
}*/
.front{
  /*Position*/
  position: absolute;
  /*Flip Card*/
  backface-visibility: hidden;
}

.back{
  /*Position*/
  position: absolute;
  /*Flip Card*/
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.flip-card{
  transform: rotateY(180deg);
}











